@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  width: 940px;
  padding: 20px;
  background: #eff3f4;
  margin: 0 auto;
  box-sizing: border-box;
}

.photo-left {
  margin: 0 20px 10px 0;
  float: left;
}

.photo-right {
  margin: 0 0px 10px 20px;
  float: right;
}

.sentence {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;

}
/* 回答はここに書いてね */
