
@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content:"";
  clear: both;
  display: block;
}

.float-box {
  width: 225px;
  font-size: 16px;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

.float-box:first-child {
  margin-left: 0;
}

.table {
  display: table;
}

.table {
  width: 225px;
  font-size: 16px;
  padding-left: 50px;
}

.table:first-child {
  padding-left: 0;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.parent {
  font-size: 0;
}
.inline-block-box {
  display: inline-block;
  font-size: 16px;
  width: 225px;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.inline-block-box:first-child {
  margin-left: 0;
}

.flex-box {
  width: 225px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.flex {
  display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.max {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.q7-5-box {
  vertical-align: top;
}
.box-fixed {
  display: inline-block;
  width: 300px;
}

.message{
  font-size: 16px;
}

.box-move {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}