@charset "UTF-8";

/* 回答はここに書いてね */

.q4-content {
  background: #ecf1f2;
  padding: 20px;
}

.table-box {
display: table;
margin-top: 20px;
width: 100%;
}

.table-box:first-child {
  margin-top: 0;
}


.cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.first {
  background: #fdc8b8;
  width: 100px;
}

.second {
  background: #e0abd9;
}

.third {
  background: #b6d8ed;
  width: 100px;
}

.fourth {
  background: #e5d32e;
}

.fifth {
  background: #ec8f9a;
}

.sixth {
  background: #8fdcae;
  width: 500px;
}

.move {
  font-size: 100%;
}
/* 回答はここに書いてね */
