@charset "UTF-8";

/* 回答はここに書いてね */
.car {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 333px;
  margin: 0 auto;
  cursor: pointer;
}

.carimg {
  transition: all 0.5s;

}
.car:hover .carimg{
  transform: scale(1.5);

}
.text {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 20px;
color: #FFF;
box-sizing: border-box;
word-break: break-all;
}

.car:hover .cartext{
  top: 0;
}

.cartext {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 8));
  transition: all .5s;
}

.circle {
  width: 100px;
  height: 100px;
  border: 10px solid #ecf1f2;
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: #00bcd4;
  animation: guruguru 1.1s infinite;
  animation-timing-function: linear;
}

@keyframes guruguru {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 回答はここに書いてね */
