@charset "UTF-8";

/* 回答はここに書いてね */
.box1 {
  text-align: center;
} 
.same {
  background: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.txt {
  display: inline-block;
}

.wid {
  margin: 0 auto;
  text-align: center;
}

.table {
  display: table;
}

.box2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.tabletxt {
  background: #fff;
  padding: 10px;
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flextxt {
  padding: 10px;
  background: #fff;
}

.relative {
  position: relative;
}


.notmove {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}

.move {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* 回答はここに書いてね */
